{% extends 'base.html'%}
{% block head %}
<title>Makeja App</title>
{% endblock %}

{% block content %}

<h1>Add an Apartment</h1>

<form action="/add_apartment/{{id}}" method="post">

    <label for="house id">House ID</label>
    <input class="form-control mb-3" type="number" name="house_id" step="1" value={{id}}  readonly>

    <label for="name">House Number</label>
    <input class="form-control mb-3" type="text" name="house_number">
   
    <label for="rent" >Rent</label>
    <input type="number" class="form-control mb-3" name="rent" id="" step="100">

    <select name="type" id="" class="form-select mb-3">
        <option value="Bedsitter">Bedsitter</option>
        <option value="Studio">Studio</option>

        <option value="One Bedroom">One Bedroom</option>
        <option value="Two Bedroom">Two Bedroom</option>
        <option value="Three Bedroom">Three Bedroom</option>
        <option value="Four Bedroom">Four Bedroom</option>
    </select>
     <button type="submit" class="btn-success btn ">Submit</button>

</form>

{% endblock %}